body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: #fff;
}
h1 {
  font-size: 260%;
  font-weight: 900;
  padding: 5rem 0 1rem 0;
}

.App .contact {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.App .contact a div {
  width: 100%;
  height: 100%;
}
.App .contact a {
  display: block;
  width: 42px;
  height: 42px;
  margin: 0 15px;
}
.App .contact a.email div {
  background-image: url("./images/email.svg");
}
.App .contact a.github div {
  background-image: url("./images//github.svg");
}
.App .contact a.linkedin div {
  background-image: url("./images/linkedin.svg");
}
